#course-overlay-container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#course-overlay-border {
    background-color: transparent;
    width: 90%;
    margin-left: 5%;
    height: 1%;
    border-bottom: solid 2px #4f9bd4;
}

#course-overlay-header {
    width: 90%;
    margin-left: 5%;
    height: 18%;
}

#course-overlay-icon {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

#course-overlay-icon > img {
    width: 80%;
    height: auto;
    align-self: center;
}

#course-overlay-title {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

#course-overlay-title > div {
    align-self: flex-end;
}

#course-title-container > span {
    font-family: 'PT Sans', sans-serif;
    font-size: 6vw;
    color: #4c4c4c;
    font-weight: 500;
    line-height: 100%;
}

#course-title-description {
    padding-top: 3px;
}

#course-title-description > span {
    font-family: 'PT Sans', sans-serif;
    font-size: 4vw;
    color: #4c4c4c;
    font-weight: 500;
    margin-right: 10px;
}

#course-overlay-body {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

#course-body-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}

.course-body-section {
    width: 100%;
    margin-bottom: 15px;
}

.course-body-section > div {
    font-family: 'PT Sans', sans-serif;
    font-size: 4.5vw;
    color: #4c4c4c;
    font-weight: 500;
}

#course-overlay-footer {
    height: 32%;
    background-color: #4f9bd4;
    overflow-y: scroll;
    padding: 5%;
}

#course-overlay-description {
    padding: 0 0 100px;
    font-family: 'PT Sans', sans-serif;
    font-size: 4vw;
    color: white;
    font-weight: 500;
    padding-bottom: 5% 2.5%;
    line-height: 1.3;
}

#course-footer-header {
    font-family: 'PT Sans', sans-serif;
    font-size: 6vw;
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
