#header-section {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

#header-container {
    height: 69%;
    width: 100vw;
    align-self: flex-end;
}

#back-arrow {
    width: 15%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

#back-arrow > i {
    font-size: 5vw;
    align-self: center;
}

#header-text {
    width: 85%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
}

#header-text > span {
    font-family: 'PT Sans', sans-serif;
    font-size: 5vw;
    color: #4c4c4c;
    font-weight: 500;
    align-self: center;
}

#map-container {
    height: 90vh;
    width: 100vw;
}

#map-container > iframe {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
