#header-section, #professor-overlay, #professor-container, #header-search {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#professor-overlay {
    width: 100vw;
    height: 90vh;
    margin-left: 100vw;
    margin-top: 10vh;
    z-index: 4;
    position: fixed;
    background-color: green;
    -webkit-transition: margin-left 0.3s;
}

#course-overlay {
    width: 100vw;
    height: 90vh;
    margin-left: 100vw;
    margin-top: 10vh;
    z-index: 4;
    position: fixed;
    background-color: green;
    -webkit-transition: margin-left 0.3s;
}

.transition-professor-overlay {
    margin-left: 0 !important;
}

.transition-course-overlay {
    margin-left: 0 !important;
}

#overlay-container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#overlay-border {
    background-color: transparent;
    width: 90%;
    margin-left: 5%;
    height: 1%;
    border-bottom: solid 2px #4f9bd4;
}

#overlay-header {
    width: 90%;
    margin-left: 5%;
    height: 18%;
}

#overlay-icon {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

#overlay-icon > img {
    width: 80%;
    height: auto;
    align-self: center;
}

#overlay-title {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

#overlay-title > div {
    align-self: center;
}

#header-title {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
}

#header-title > span {
    align-self: flex-end;
    font-family: 'PT Sans', sans-serif;
    font-size: 6vw;
    color: #4c4c4c;
    font-weight: 500;
}

#header-description {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

#header-description > div {
    padding: 0 10px 0 10px;
    display: flex;
    float: left;
    overflow: hidden;
}

#header-description > div > span {
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    color: #4c4c4c;
    font-weight: 500;
}

#overlay-body {
    height: 82%;
    width: 100%;
}

.title-container {
    height: 5.5%;
    background-color: #f8f8f8;
    padding-left: 5%;
    display: flex;
    align-items: flex-end;
}

.title-container > span {
    font-size: 3.5vw;
    font-family: 'PT Sans', sans-serif;
    color: #b6b6b6;
}

#course-container {
    padding-top: 15px;
    width: 100%;
    height: 94.5%;
    overflow-y: scroll;
}

/* Course Object */

.course-object {
    width: 100%;
    height: auto;
}

.course-text-container {
    width: 85%;
    min-height: 75px;
    float: left;
}

.course-title {
    width: 100%;
    min-height: 25px;
    display: flex;
    justify-content: flex-start;
}

.course-title > span {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 4vw;
    color: #4f9bd4;
    font-weight: 500;
    padding-left: 5%;
    align-self: center;
}

.course-description {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.course-days {
    float: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 4vw;
    color: #4c4c4c;
    font-weight: 500;
    align-self: center;
    padding-left: 5%;
}

.course-time {
    float: left;
    margin-left: 5%;
    font-family: 'PT Sans', sans-serif;
    font-size: 4vw;
    color: #4c4c4c;
    font-weight: 500;
    align-self: center;
}

.course-location {
    width: 100%;
    min-height: 25px;
    display: flex;
    justify-content: flex-start;
}

.course-location > span {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 4vw;
    color: #4c4c4c;
    font-weight: 500;
    padding-left: 5%;
    align-self: center;
    margin-bottom: 15px;
}

.course-arrow {
    float: left;
    width: 15%;
    min-height: 75px;
    display: flex;
    justify-content: center;
}

.course-arrow > i{
    font-size: 6vw;
    color: #bcbcbc;
    align-self: center;
}
