#main-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0);
}

#background-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(235, 240, 247, 1);
    opacity: 0;
}

#loading-screen {
    margin-top: -100vh;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(235, 240, 247, 1);
}

/* ----== Header Section ==---- */

#header-section {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

#title-container {
    margin-top: 5%;
    width: 50%;
    height: 30%;
    align-self: center;
}

#logo {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    text-align: center;
}

#logo > img {
    max-height: 40%;
    width: auto;
}

#header-text {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 5vw;
    color: #959595;
    font-weight: 500;
}

/* ----== Body Section ==---- */


#body-section {
    width: 100%;
    height: 56%;
    display: flex;
    justify-content: center;
}

#button-container {
    width: 94vw;
    height: 94vw;
    align-self: center;
}

.button-object {
    float: left;
    width: calc((100% / 3) - 6%);
    height: calc((100% / 3) - 6%);
    margin: 3% 3% 3% 3%;
    background-color: #ebf0f7;
    text-align: center;
    border: none;
    -webkit-transition: width 0.5s;
    -webkit-transition: height 0.5s;
}

.icon-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.icon-container > i {
    font-size: 4em;
    color: #4f9bd4;
    align-self: center;
}

.button-object > span {
    font-size: 0.8em;
    font-weight: 600;
    color: #c7c8c8;
    display: block;
    width: 100%;
    margin-top: -10%;
    font-family: 'PT Sans Narrow', sans-serif;
}


/* ----== Footer Section ==---- */

#footer-section {
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;
}

#footer-section > span {
    align-self: center;
    font-size: 0.8em;
    font-weight: 600;
    color: #c7c8c8;
    font-family: 'PT Sans Narrow', sans-serif;
}