#header-section {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    background-color: #d4d4d4;
}

#header-container {
    height: 69%;
    width: 100vw;
    align-self: flex-end;
}

#back-arrow {
    width: 15%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

#back-arrow > i {
    font-size: 1.5em;
    align-self: center;
}

#header-text {
    width: 85%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
}

#header-text > span {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    color: #4c4c4c;
    font-weight: 500;
    align-self: center;
}






#main-container {
    position: fixed;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#main-container {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    -ms-overflow-y: hidden;
}

#sub-container {
    background-color: #f8f8f8;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.option-container {
    height: 8.15%;
    background-color: white;
}

#time-container {
    height: 20.8%;
}

#shading-container {
    position: absolute;
    width: 100%;
    height: 20.8%;
}

#time-divider {
    border-top: solid 2px #4f9bd4;
    border-bottom: solid 2px #4f9bd4;
    width: 100%;
    height: 20%;
}

.light-gray {
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}

.med-gray {
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.89);
}

#clock-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 35%;
    height: 20.8%;
}

.time-object {
    overflow-y: scroll;
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

.time-object > div {
    z-index: -1;
    width: 100%;
    height: calc(100% / 5);
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    color: #4c4c4c;
    font-weight: 500;
}